.header-container {
	display: flex;
	justify-content: space-between;
}

.nav-header {
	display: none;
}

.nav-address {
	display: none;
}

.logo-header {
	display: block;
	width: 35px;
	margin-top: 8px;
}
