.title {
	color: var(--primary-color);
	font-family: "Gloock", sans-serif;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.02em;
	margin-bottom: 14px;
}

.text-hero {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: 0.04em;
	text-align: center;
}

.find-us-attention {
	border: none;
	margin-top: 20px;
	background-color: #fcf8e3;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.title-attention {
	margin-bottom: 12px;
	font-size: 20px;
	color: #8a6d3b;
}

.text-attention {
	color: #8a6d3b;
	max-width: 257px;
	font-size: 13px;
	line-height: 1.5;
}

.button-hero {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	outline: 1px;
	padding: 15px 30px;
	border-radius: 6px;
	background-color: transparent;
	background-image: linear-gradient(180deg, #a0183c 11%, #f2295b 83%);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	color: #fff;
	/* transition: all .3s; */
}
