:root {
  --primary-font: "Lato", sans-serif;
  --primary-color: #a0183c;
  --pressed-primary: #8b0000;
  --second-primary-color: #444444;
  --first-background: #ffffff;
  --second-background: #e7e9fc;
  --primary-text: #353641;
}
